.shipping{
    margin-top: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.shipping-form{
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 1px 1px rgb(180, 180, 180);
    height: max-content;
    width: 50%;
    padding-bottom: 30px;
    border-radius: 7px;
}

.shipping-title{
    margin: 0px 10px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 1px solid rgb(201, 201, 201);
}

.shipping-form > form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shipping-form-body{
    display: flex;
    flex-direction: column;
    width: 75%;
}

.shipping-form-body > button{
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width:950px) {
    .shipping-form{
        width: 65%;
    }
}

@media only screen and (max-width:850px) {
    .shipping-form{
        width: 75%;
    }
}

@media only screen and (max-width:650px) {
    .shipping-form{
        width: 90%;
    }
}

@media only screen and (max-width:334px) {
    .shipping{
        margin-top: 60px;
    }
}